<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/style.css" />
  <title>About Me</title>
</head>
<body>
  <h1>Adam Ruder</h1>
  <h2 class="specialtext">About</h2>
<!-- About Me Paragraph Section -->
  <p>
    I am an <strong>analyst from the University of Maryland,</strong> graduating this year as a senior. I have <strong>over a year of professional experience in CRM & Salesforce analytics</strong>.
    Currently, I have experience with <em>Python, Excel, R, and SQL,</em> and greatly enjoy <em>hiking, along with spending time with my friends & family</em>.
  </p>
  <h2>Interests</h2>
  <p>
    <!-- Hobby Description -->
   I greatly enjoy data modeling & programming, and the time I spend troubleshooting code.
      I also greatly enjoy traveling: in my career, I hope to travel the world.
      The University of Maryland is a wonderful university, and my alma mater. I am grateful to soon graduate with my degree from Smith.
  </p>
<p id = "paragraph3">
    Upon graduation, I plan on working in the financial industry, and aim to acquire credentials as I begin my career.
    Thank you for looking through my page!
</p>
  <!-- Lists - Unordered/Ordered -->
  <h3>Countries I've Been To in 2025</h3>
  <ul>
    <li>Japan</li>
    <li>South Korea</li>
    <li>Egypt</li>
  </ul>

  <h3>My Favorite Foods</h3>
  <ol>
    <li>Pasta</li>
    <li>Chicken Parmesan</li>
    <li>Maryland Crab Cake</li>
  </ol>
  <!-- Course Table for assignment requirements -->
  <table>
    <thead>
      <tr>
        <th>Course</th>
        <th>Semester</th>
      </tr>
    </thead>
    <tbody>
      <!-- Row 1 -->
      <tr>
        <td>BMGT401</td>
        <td>Spring 2025</td>
      </tr>
      <!-- Row 2 -->
      <tr>
        <td>BMGT380</td>
        <td>Fall 2025</td>
      </tr>
      <!-- Row 3 -->
      <tr>
        <td>BMGT407</td>
        <td>Spring 2026</td>
      </tr>
    </tbody>
  </table>

  <p>
    <a href="/hello">Hello!</a>
  </p>
  <!-- Favorite Websites & Smith Logo -->
  <h3>Websites I Enjoy</h3>
  <p>
    <a href="https://youtube.com">Youtube</a>
    |
    <a href="https://wikipedia.org" target="_blank" rel="noopener">Wikipedia</a>
  </p>
  <img
    src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
    alt="Robert H. Smith School of Business logo"
    class="logo"
  />
</body>
</html>
