{% extends "base.html" %}

{% block title %}Favorite Course{% endblock %}

{% block page_header %}
    <h1>Favorite Course</h1>
    <h2>Course Information</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="card border-primary">
                <div class="card-header">
                    Course Details
                </div>
                <div class="card-body">
                    <p class="lead mb-0">
                        You entered your favorite course as:
                        <strong>{{ subject }} {{ course_number }}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}